WCFClientRuntimeComponent/Service References/ScreenSavingsServiceReference/PushNotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushNotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://screensavings.cloudapp.net/PushNotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://screensavings.cloudapp.net/PushNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://screensavings.cloudapp.net/PushNotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScreenSavingServiceWebRole" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPushNotificationService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_NotifyChannelByUri_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyChannelByUri" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_NotifyChannelByUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyChannelByUriResponse" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_NotifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyUser" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_NotifyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_RegisterNotificationChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNotificationChannel" />
  </wsdl:message>
  <wsdl:message name="IPushNotificationService_RegisterNotificationChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNotificationChannelResponse" />
  </wsdl:message>
  <wsdl:portType name="IPushNotificationService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushNotificationService/GetData" message="tns:IPushNotificationService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushNotificationService/GetDataResponse" message="tns:IPushNotificationService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushNotificationService/GetDataUsingDataContract" message="tns:IPushNotificationService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushNotificationService/GetDataUsingDataContractResponse" message="tns:IPushNotificationService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyChannelByUri">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushNotificationService/NotifyChannelByUri" message="tns:IPushNotificationService_NotifyChannelByUri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushNotificationService/NotifyChannelByUriResponse" message="tns:IPushNotificationService_NotifyChannelByUri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushNotificationService/NotifyUser" message="tns:IPushNotificationService_NotifyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushNotificationService/NotifyUserResponse" message="tns:IPushNotificationService_NotifyUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNotificationChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushNotificationService/RegisterNotificationChannel" message="tns:IPushNotificationService_RegisterNotificationChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushNotificationService/RegisterNotificationChannelResponse" message="tns:IPushNotificationService_RegisterNotificationChannel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPushNotificationService" type="tns:IPushNotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPushNotificationService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPushNotificationService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyChannelByUri">
      <soap:operation soapAction="http://tempuri.org/IPushNotificationService/NotifyChannelByUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyUser">
      <soap:operation soapAction="http://tempuri.org/IPushNotificationService/NotifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNotificationChannel">
      <soap:operation soapAction="http://tempuri.org/IPushNotificationService/RegisterNotificationChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushNotificationService">
    <wsdl:port name="BasicHttpBinding_IPushNotificationService" binding="tns:BasicHttpBinding_IPushNotificationService">
      <soap:address location="http://screensavings.cloudapp.net/PushNotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>